.card {
    position: relative;
}

.cardimage {
    margin-left: 40px;
    border-radius: 30px;
    width: 250px;
    height: 350px;
    object-fit: cover;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.bottomleft {
    position: absolute;
    bottom: 25px;
    left: 60px;
    font-size: 18px;
    color: white;
    z-index: 2;
}

.checkbox {
   z-index: 3;
   top: 15px;
   right: 30px;
   position: absolute;
}

.overlay {
    content: '';
    width: 250px;
    height: 350px;
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 40px;
    border-radius: 30px;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 70%,rgb(15, 15, 15) 100%);
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: white;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
    padding: 13px;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.85em;
    height: 0.85em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: white;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  