.foodcard {
    display: flex;
    border-radius: 10px;
    width: 450px;
    height: 60px;
    background-color: white;
    border-color: white;
    justify-content: space-between;
    margin-left: 40px;
}

.foodtitle {
    margin: 14px;
    font-size:1.3em
}

.check {
    margin-right: 10px;
    size: 50px;
}