*{
  margin: 0;
  padding: 0;
}

.itenary, .traveltype, .date {
 font-size: 3em;
 margin-left: 100px;
 margin-top: 80px;
}


.guests {
  font-size: 2em;
  margin-left: 100px;
  margin-top: 80px;
 }

 .food {
  font-size: 2em;
  margin-left: 100px;
  margin-top: 20px;
 }

.itenary .destination {
  font-size: 0.8em;
}

.faq{
  font-size: 2em;
  margin-left: 20em;
  margin-top: 100px;
}

